<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="monroe">

<head>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>Monroe Experimenters Portal</title>

    <!-- Include Bootstrap and AngularJS --> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css" crossorigin="anonymous">
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- Monroe App -->

    <script>
        angular.module("monroe", []);
    </script>

    <script src="controllers/monroe.js"></script>

    <!-- Monroe Style -->

    <style>
        #monroeSty {
            padding-top:    25px;
            padding-botton: 25px;
            padding-right:  50px;
            padding-left:   50px;
        }
    </style>

</head>

<body ng-controller="accountInfoCtrl" id="monroeSty">

    <!-- Navigation Tabs -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="pull-left" href="https://www.monroe-project.eu/">
                    <img src = "media/monroe_logo.png" height="50" hspace="20"></img>
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="StatusExperiment.html" data-toggle="tooltip" title="Status of my experiments">Status</a></li>
                    <li><a href="NewExperiment.html" data-toggle="tooltip" title="Create a new experiment">New</a></li>
                    <li><a href="Resources.html"data-toggle="tooltip" title="Show information about Monroe resources">Resources</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="AccountInfo.html" data-toggle="tooltip" title="Access information on quotas and permissions"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
					<li><a href="Help.html" data-toggle="tooltip" title="Access the platform help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
               </ul>
            </div>
        </div>
    </nav>

	<!-- User account info and remaining quotas -->
    <div class="panel panel-default">
		<div class="panel-heading">
			<h3>User account information and quotas</h3>
		</div>

		<div class="panel-body">
			<p><strong>Full Name: </strong>{{userName}}</p>
			<p><strong>User ID: </strong>{{userID}}</p>
			<p><strong>SSL fingerprint: </strong>{{fingerprint}}</p>
			<p><strong>Data quota: </strong>{{quota_data}}<strong> bytes</strong> ({{quota_data/1073741824 | number: 2}} GB)</p>
			<p><strong>Storage quota: </strong>{{quota_storage}}<strong> bytes</strong> ({{quota_storage/1073741824 | number: 2}} GB)</p>
			<p><strong>Time quota: </strong>{{quota_time}}<strong> seconds</strong> ({{quota_time/3600 | number: 0}} hours)</p>
		</div>
    </div>
	
	<!-- Time quota journal -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Time usage journal</h3>
		</div>
		<div class="panel-body">
            <table class="table table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>New value</th>
						<th>Reason</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in journal_time">
						<td>{{TimestampToString(entry.timestamp)}}</td>
						<td>{{entry.new_value}}</td>
						<td>{{Capitalize(entry.reason)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
	
	<!-- Data quota journal -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Data usage journal</h3>
		</div>
		<div class="panel-body">
            <table class="table table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>New value</th>
						<th>Reason</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in journal_data">
						<td>{{TimestampToString(entry.timestamp)}}</td>
						<td>{{entry.new_value}}</td>
						<td>{{Capitalize(entry.reason)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
	
	<!-- Storage quota journal -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Storage usage journal</h3>
		</div>
		<div class="panel-body">
            <table class="table table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>New value</th>
						<th>Reason</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in journal_storage">
						<td>{{TimestampToString(entry.timestamp)}}</td>
						<td>{{entry.new_value}}</td>
						<td>{{Capitalize(entry.reason)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>

</body>
