<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="monroe">
<head>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>Monroe Experimenters Portal</title>

    <!-- Include Bootstrap and AngularJS --> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css" crossorigin="anonymous">
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

	<!--
    <script type="text/javascript" src="./jquery.js"></script>
    <script type="text/javascript" src="./angular.js"></script>
    <link rel="stylesheet" href="./bootstrap.css">
    <link rel="stylesheet" href="./bootstrap-theme.css">
    <script type="text/javascript" src="./bootstrap.js"></script>
	-->

    <!-- Monroe App -->
    <script>
        angular.module("monroe", []);
    </script>

    <script src="controllers/monroe.js"></script>

    <!-- Monroe Style -->
    <style>
        #monroeSty {
            padding-top:    25px;
            padding-botton: 25px;
            padding-right:  50px;
            padding-left:   50px;
        }
		
		#colSep {padding-top:0.25cm;}
    </style>

</head>

<body ng-controller="newExperimentCtrl" id="monroeSty">

    <!-- Navigation Tabs -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="pull-left" href="https://www.monroe-project.eu/">
                    <img src = "media/monroe_logo.png" height="50" hspace="20"></img>
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="StatusExperiment.html" data-toggle="tooltip" title="Status of my experiments">Status</a></li>
                    <li class="active"><a href="NewExperiment.html" data-toggle="tooltip" title="Create a new experiment">New</a></li>
                    <li><a href="Resources.html"data-toggle="tooltip" title="Show information about Monroe resources">Resources</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
					<li><a href="AccountInfo.html" data-toggle="tooltip" title="Access information on quotas and permissions"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                    <li><a href="Help.html" data-toggle="tooltip" title="Access the platform help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
               </ul>
            </div>
        </div>
    </nav>

<!-- New Experiments Tab -->

<form class="form-horizontal" role="form">

<div class="panel panel-default">
<div class="panel-heading">
    <h3>New Experiment</h3>
</div>
<div class="panel-body">

    <!-- ----------------------------------------->
    <div class="panel panel-info">
    <div class="panel-heading">
        Description
    </div>
    <div class="panel-body">
        <div class="row">
            <label style="text-align:left" class="control-label col-md-1" for="experimentName"><span class="glyphicon glyphicon-asterisk" style="color:crimson"></span> Name:</label>
            <div class="col-md-11"><input type="text" class="form-control" id="experimentName" placeholder="Name of the experiment" ng-model="experiment.name"></div>
        </div>

        <div class="row" id="colSep">
            <label style="text-align:left" class="control-label col-md-1" for="script"><span class="glyphicon glyphicon-asterisk" style="color:crimson"></span> Script:</label>
            <div class="col-md-11"><input type="text" class="form-control" id="script" placeholder="Docker pull URL" ng-model="experiment.script"></div>
        </div>
    </div>
    </div>

    <!-- ----------------------------------------->
    <div class="panel panel-info">
    <div class="panel-heading">
        Requirements
    </div>
    <div class="panel-body">
        <div class="row">
            <label class="control-label col-md-2" style="text-align:left" for="nodes">Number of nodes:</label>
            <div class="col-md-1">
                <input type="number" min="1" class="form-control" id="nodes" placeholder="1" ng-model="experiment.nodeCount">
            </div>
        
            <label class="control-label col-md-1" style="text-align:left" for="experimentDuration">Duration:</label>
            <div class="col-md-2"><input type="number" min="300" class="form-control" id="experimentDuration" ng-model="experiment.duration"></div>
            <label class="control-label col-md-1" style="text-align:left">seconds</label>
        </div>

        <div class="row" id="colSep">
            <label class="control-label col-md-3" style="text-align:left">Countries (pick zero, one or several):</label>
			<label class="control-label col-md-2" style="text-align:left">Node type (pick one):</label>
		</div>
		<div class="row">
		    <div class="col-md-3">
                <select multiple class="form-control" ng-model="experiment.countryFilter" ng-change="CheckCountryFilter(experiment);">
                    <option value="no">Norway</option>
                    <option value="se">Sweden</option>
                   <option value="it">Italy</option>
                    <option value="es">Spain</option>
                </select>
			</div>
            <div class="col-md-2">
                <select class="form-control col-md-2" ng-model="experiment.nodeType">
                    <option value="type:deployed" selected>Deployed</option>
                    <!--<option value="mobile">Mobile</option>-->
                    <option value="type:testing">Testing</option>
                </select>
			</div>
        </div>
		<div class="row">
		    <label class="col-md-1"><input type="checkbox" ng-model="experiment.countryFilterAny" ng-change="SetCountryFilterAny(experiment);"> Any</label>
		</div>
        
        <div class="row" id="colSep">
            <label class="control-label col-md-1" style="text-align:left" for="specificNodes" data-toggle="tooltip" title="Specify specific node IDs">Node IDs:</label>
            <div class="col-md-11">
                <input type="text" class="form-control" id="specificNodes" placeholder="List of comma-separated specific nodes to use in the experiment. Leave empty for automatic assignment." ng-model="experiment.specificNodes">
            </div>
        </div>

		<div class="row" id="colSep">
		    <label class="control-label col-md-2" style="text-align:left">Required interfaces:</label>
            <label class="control-label col-md-2" style="text-align:left"><input type="checkbox" ng-model="experiment.useInterface1" ng-change="InterfacesCount(experiment)"> Interface 1</label>
            <label class="control-label col-md-2" style="text-align:left"><input type="checkbox" ng-model="experiment.useInterface2" ng-change="InterfacesCount(experiment)"> Interface 2</label>
            <label class="control-label col-md-2" style="text-align:left"><input type="checkbox" ng-model="experiment.useInterface3" ng-change="InterfacesCount(experiment)"> Interface 3</label>
        </div>

        <div class="row" id="colSep">
		    <label class="control-label col-md-2" style="text-align:left">Data quotas:</label>
		</div>
        <div class="row">
            <label class="control-label col-md-2" for="activeQuota">Active-data quota:</label>
            <div class="col-md-2"><input type="number" min="0" class="form-control" id="activeQuota" placeholder="(bytes)" ng-model="experiment.activeQuota" ng-change="InterfacesCount(experiment)"></div>
            <!--<label class="control-label" style="text-align:left">Total active-data quota: {{experiment.activeQuota}} bytes x {{experiment.interfacesCount}} interfaces = {{experiment.totalActiveQuota}} bytes</label>-->
			<label class="control-label" style="text-align:left">(per interface)</label>
        </div>
        <div class="row" id="colSep">
            <label class="control-label col-md-2" for="resultsQuota">Log files quota:</label>
            <div class="col-md-2"><input type="number" min="0" class="form-control" id="resultsQuota" placeholder="(bytes)" ng-model="experiment.resultsQuota"></div>
        </div>
        <div class="row" id="colSep">
            <label class="control-label col-md-2" for="storageQuota">Deployment-storage quota:</label>
            <div class="col-md-2"><input type="number" min="0" class="form-control" id="storageQuota" placeholder="(MB)" ng-model="experiment.deploymentQuota"></div>
			<label class="control-label" style="text-align:left">(MB)</label>
        </div>
		<div class="row" id="colSep">
            <label class="control-label col-md-2" for="userOptions">Additional options:</label>
            <div class="col-md-2"><input type="text" class="form-control" id="additionalOptions" placeholder='"key":number,"key":"string"' ng-model="experiment.additionalOptions"></div>
			<label class="control-label" style="text-align:left">JSON-style user options to be passed to the container</label>
        </div>
    </div>
    </div>

    <!-- ----------------------------------------->
    <div class="panel panel-info">
    <div class="panel-heading">
        Scheduling options
    </div>
    <div class="panel-body">            
        <div class="row">
            <label class="col-md-2"><input type="checkbox" ng-model="experiment.recurrence"> Recurrence</label>
        </div>
        <div class="row" id="colSep" ng-hide=!experiment.recurrence>
            <label class="control-label col-md-1" for="period">Every:</label>
            <div class="col-md-2"><input type="number" min="3600" class="form-control" id="period" placeholder="(seconds)" ng-model="experiment.period"></div>
            <label class="control-label col-md-1" style="text-align:left">seconds</label>
        </div>
		<div class="row" id="colSep" ng-hide=!experiment.recurrence>
            <label class="control-label col-md-1" for="until">Until:</label>
            <div class="col-md-3"><input type="datetime-local" step="1" id="until" ng-model="experiment.repeatUntil" ng-model-options="{timezone:'utc'}" ng-change="UpdateRepeatUntil(experiment);"/><label class="control-label" style="padding-left:.1cm">UTC</label></div>
			<label class="control-label" style="text-align:left">{{experiment.untilParsed}}</label>
        </div>
	
	    <br>
	    <div class="row" id="colSep">
            <label class="col-md-3">Select starting date and time:</label>
		    <label class="col-md-6">Date and time in YOUR local time-zone:</label>
		</div>
		<div class="row">
		    <div class="col-md-3"><input type="datetime-local" step="1" ng-model="experiment.startDate" id="startDate" ng-model-options="{ timezone: 'utc' }" ng-change="UpdateConfirmStartDate(experiment);" required /><label class="control-label" style="padding-left:.1cm">UTC</label></div>
			<span class="control-label col-md-6" style="text-align:left">{{experiment.confirmStartDate}}</span>
		</div>
		<div class="row">
		    <label class="col-md-3"><input type="checkbox" ng-model="experiment.startASAP" ng-change="SetStartDateASAP(experiment);"> As soon as possible</label>
		</div>           
		
		<span class="help-block">
		    <dl>
			    <dt><span style="color:blue" class="glyphicon glyphicon-info-sign"></span> Tips:</dt>
				<dd style="padding-left:.25cm">- Input a date and press "Check availability" to verify if the schedule is possible,</dd>
				<dd style="padding-left:.25cm">- or mark "As soon as possible" and press "Check availability" to know the earliest possible starting time.</dd>
				<dd style="padding-left:.25cm">- Input a valid starting date and leave "As soon as possible" unchecked to submit the experiment.</dd>
			</dl>
		</span>
		
		<div class="row" id="colSep">
		    <div class="col-md-2"><button type="submit" class="btn btn-default" ng-click="checkSchedule(experiment)">Check availability</button></div>
		    <span class="col-md-10" style="text-align:left" ng-hide="!experiment.checkAvailabilityShow">{{experiment.checkAvailabilityStart}}<a href="" ng-click="UseProposedSchedule(experiment)" style="padding-left:1cm">-->Request this slot!<--</a></span>
			<span class="col-md-10" style="text-align:left" ng-hide="!experiment.checkAvailabilityShow">{{experiment.checkAvailabilityStop}}</span>
			<!-- New line under the button -->
			<span class="col-md-10 col-md-offset-2" style="text-align:left" ng-hide="!experiment.checkAvailabilityShow">{{experiment.checkAvailabilityMaxNodes}}</span>
			<span class="col-md-10 col-md-offset-2" style="text-align:left" ng-hide="!experiment.checkAvailabilityShow">{{experiment.checkAvailabilitySlotEnd}}</span>
		</div>
		
        <div class="row" style="margin-top:0.5cm">
            <label class="col-md-2"><input type="checkbox" ng-model="experiment.requiresSSH"> SSH tunnel</label>
        </div>
		<div class="row" id="colSep" ng-hide="!experiment.requiresSSH">
            <label class="control-label col-md-1" for="period">Public SSH key:</label>
            <div class="col-md-2"><input type="text" class="form-control" id="sshPublicKey" ng-model="experiment.sshPublicKey"></div>
        </div>

    </div>
    </div>

    <!-- ----------------------------------------->
    <div class="panel panel-default">
		<div class="panel-heading">
		</div>
		<div class="panel-body">
			<div class="row">
				<button type="submit" class="col-md-2 btn btn-default" ng-click="newExperiment(experiment)">Submit Experiment</button>
				<div class="col-md-1"></div>
			
				<!-- Error panels displayed if verification fails -->
				<div ng-if="showWarningPublicSSHKeyMissing" class="col-md-8 alert alert-danger fade in" role="alert"> <!-- Use alert-dismissible to add close button, but it is deleted permanently! -->
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
					<strong>ERROR VALIDATING FORM DATA:</strong> The user public SSH key is compulsory.
				</div>
				<div ng-if="showWarningSSHOnlyTesting" class="col-md-8 alert alert-danger fade in" role="alert">
					<strong>ERROR VALIDATING FORM DATA:</strong> SSH tunnel can only be requested for testing nodes.
				</div>
				<div ng-if="showWarningNotJSONString" class="col-md-8 alert alert-danger fade in" role="alert">
					<strong>ERROR VALIDATING FORM DATA:</strong> The string for additional options is not a proper JSON string.
				</div>
				<div ng-if="showWarningMinimumRecurrencePeriod" class="col-md-8 alert alert-danger fade in" role="alert">
					<strong>ERROR VALIDATING FORM DATA:</strong> If recurrence is selected, the minimum period must be at least 3600 seconds.
				</div>
				<div ng-if="showWarningRecurrenceEndingTime" class="col-md-8 alert alert-danger fade in" role="alert">
					<strong>ERROR VALIDATING FORM DATA:</strong> If recurrence is selected, a valid ending date must be provided.
				</div>
				<div ng-if="showWarningMaxStorageQuota" class="col-md-8 alert alert-danger fade in" role="alert">
					<strong>ERROR VALIDATING FORM DATA:</strong> The maximum allowed storage quota is 1024 MB.
				</div>
				<div ng-if="showWarningSSHNotRecurrence" class="col-md-8 alert alert-danger fade in" role="alert">
					<strong>ERROR VALIDATING FORM DATA:</strong> SSH tunnel cannot be requested with recurrent experiments.
				</div>
			</div>
		</div>
	</div>
    
    <div class="panel panel-success" ng-hide="!experiment.showSuccessPanel">
    <div class="panel-heading">
        Experiment successfully submitted
    </div>
    <div class="panel-body">
        Experiment id:{{experiment.schedID}}<br>
        Number of intervals in recurrence:{{experiment.schedNumScheds}}<br>
        Number of nodes:{{experiment.schedNodes}}<br>
    </div>
    </div>

    <div class="panel panel-danger" ng-hide="!experiment.showFailurePanel">
    <div class="panel-heading">
        Failure while submitting experiment
    </div>
    <div class="panel-body">
        Scheduler message: {{experiment.schedMessage}}
    </div>
    </div>

</form>

</div> <!-- Panel Body -->
</div> <!-- Panel -->

</body>
