<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="monroe">

<head>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>Monroe Experimenters Portal</title>

    <!-- Include Bootstrap and AngularJS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Monroe App -->

    <script>
        angular.module("monroe", []);
    </script>

    <script src="controllers/monroe.js"></script>

    <!-- Monroe Style -->

    <style>
        #monroeSty {
            padding-top:    25px;
            padding-botton: 25px;
            padding-right:  50px;
            padding-left:   50px;
        }
    </style>
</head>

<body ng-controller="resourcesCtrl" id="monroeSty">

	<!-- ****************************************************************** -->
    <!-- Navigation Tabs -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="pull-left" href="https://www.monroe-project.eu/">
                    <img src = "media/monroe_logo.png" height="50" hspace="20"></img>
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="StatusExperiment.html" data-toggle="tooltip" title="Status of my experiments">Status</a></li>
                    <li><a href="NewExperiment.html" data-toggle="tooltip" title="Create a new experiment">New</a></li>
                    <li class="active"><a href="Resources.html"data-toggle="tooltip" title="Show information about Monroe resources">Resources</a></li>
					<li><a href="http://visual.monroe-system.eu"data-toggle="tooltip" title="Open MONROE visualization tools">Visualization</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="AccountInfo.html" data-toggle="tooltip" title="Access information on quotas and permissions"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                    <li><a href="Help.html" data-toggle="tooltip" title="Access the platform help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
               </ul>
            </div>
        </div>
    </nav>

	<!-- ****************************************************************** -->
    <!-- Resources listing -->
    <div class="panel panel-info">
		<div class="panel-heading">
			<h3>
				List of Resources
			</h3>
			<div class="checkbox-inline">
				<label><input type="checkbox" data-toggle="tooltip" title="Shows only nodes that users can currently use to schedule experiments: Active, testing or deployed types, and with recent heartbeat" ng-model="showOnlyActive">Show only nodes that can execute experiments</label>
			</div>

			<div class="row" id="colSep">
				<label class="control-label col-md-3" style="text-align:left">Locations:</label>
				<label class="control-label col-md-2" style="text-align:left">Node types:</label>
				<label class="control-label col-md-2" style="text-align:left">Node models:</label>
			</div>
			<div class="row">
				<div class="col-md-3">
					<select multiple class="form-control" size=9 ng-model="locationFilter" ng-change="FilterNodes()">
						<option value="norway">Norway</option>
						<option value="nsb">Norway-NSB (trains)</option>
						<option value="sweden">Sweden</option>
						<option value="vtab">Sweden-VTAB (buses)</option>
						<option value="italy">Italy</option>
						<option value="gtt">Italy-GTT (buses)</option>
						<option value="wsys">Italy-WSYS (trucks)</option>
						<option value="spain">Spain</option>
						<option disabled>────────────</option>
						<option value="flex">Flex</option>
						<option value="cosmote">Cosmote</option>
						<option value="monroe-son">Monroe-SON</option>
						<option value="allbesmart">AllbeSmart</option>
					</select>
					<p></p><button type="submit" class="btn btn-primary btn-xs" ng-click="ClearLocationFilter()">Clear</button>
				</div>

				<div class="col-md-2">
					<select multiple class="form-control" ng-model="nodeTypeFilter" ng-change="FilterNodes()">
						<option value="deployed">Deployed</option>
						<option value="testing">Testing</option>
					</select>
					<p></p><button type="submit" class="btn btn-primary btn-xs" ng-click="ClearNodeTypeFilter()">Clear</button>
				</div>

				<div class="col-md-2">
					<select multiple class="form-control" ng-model="nodeModelFilter" ng-change="FilterNodes()">
						<option value="apu1d4" selected>apu1d4</option>
						<option value="apu2d4" selected>apu2d4</option>
						<option value="unknown" selected>others</option>
					</select>
					<p></p><button type="submit" class="btn btn-primary btn-xs" ng-click="ClearNodeModelFilter()">Clear</button>
				</div>
			</div>

			<!-- Filters -->
			<div id="filters" class="collapse">
				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label for="sel1">Country:</label>
							<select class="form-control" id="countryFilter">
								<option>Norway</option>
								<option>Sweden</option>
								<option>Italy</option>
								<option>Spain</option>
								<option>Any</option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label for="sel1">Type of node:</label>
							<select class="form-control" id="typeFilter">
								<option>Deployed</option>
								<option>Testing</option>
								<option>All</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-2">Total nodes: {{nodes.length}}</div>
					<div class="col-md-3">Number of nodes after filtering: {{countShownNodes}}</div>
				</div>
			</div>
		</div> <!-- panel-heading-->

		<!-- List of resources with details, after filtering -->
		<div class="panel-body">
			Last updated: {{currentTime == 2147483647 ? "" : TimestampToString(currentTime)}}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Status</th>
						<th>Type</th>
						<th>Heart beat</th>
						<th>Project</th>
						<th>Hostname</th>
						<th>Model</th>
						<th>Location</th>
						<th>Graphs</th>
						<th>Interface 1</th>
						<th>Interface 2</th>
						<th>Interface 3</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="node in nodes" ng-hide="(showOnlyActive && !node.canScheduleExperiments) || !node.isVisible">
						<td ng-if="node.status == 'maintenance'">{{node.id}} <span class="glyphicon glyphicon-wrench" style="color:DarkOrange"></span></td>
						<td ng-if="(node.status != 'maintenance') && node.canScheduleExperiments">{{node.id}} <span class="glyphicon glyphicon-thumbs-up" style="color:ForestGreen"></span></td>
						<td ng-if="(node.status != 'maintenance') && !node.canScheduleExperiments">{{node.id}} <span class="glyphicon glyphicon-ban-circle" style="color:crimson"></span></td>
						<td>{{Capitalize(node.status)}}</td>
						<td>{{Capitalize(node.type)}}</td>
						<td>{{node.heartbeat > 0 ? TimestampToString(node.heartbeat) : "Never"}}</td>
						<td>{{Capitalize(node.project)}}</td>
						<td>{{node.hostname}}</td>
						<td>{{node.model}}</td>
						<td ng-if="(node.latitude != undefined) && (node.longitude != undefined)"><a target="_tab" ng-href="http://maps.google.com/?q={{node.latitude}},{{node.longitude}}">Maps</a></td>
						<td ng-if="(node.latitude == undefined) || (node.longitude == undefined)">n/a</td>
						<td ng-if="node.countryVisz != undefined"><a target="_tab" ng-href="http://visual.monroe-system.eu/#/testbed/periodic?country={{node.countryVisz}}&site={{node.site}}&nodeid={{node.id}}">Visz</a></td>
						<td ng-if="node.countryVisz == undefined">n/a</td>
						<td ng-repeat="iface in node.interfaces">{{iface["mccmnc"]}} {{InterfaceOp(iface)}} {{InterfaceEthwlan(iface)}}  {{CalcRemainingQuota(iface)}} </td>
					</tr>
				</tbody>
			</table>

		</div> <!-- panel-body -->
	</div>	<!-- panel -->

	<!-- ****************************************************************** -->
    <!-- Nodes represented as a grid of colored buttons, to have a visual representation of the whole system -->
    <div class="panel panel-info">
		<div class="panel-heading">
			<h3>Map of node states</h3>
		</div> <!-- panel-heading -->

		<div class="panel-body">
			<!-- Grid of buttons, 10 per row, each 3 cm width, extra-small -->
			<div>
				<span data-ng-repeat="i in rangeResources">
					<!-- Maintenance nodes -->
					<span ng-if="nodes[i].isVisible && (nodes[i].status == 'maintenance')" class="btn btn-warning btn-xs" style="width:3cm">
						<span class="badge">{{nodes[i].id}}</span>&nbsp;&nbsp;{{Capitalize(nodes[i].project)}}&nbsp;&nbsp;
						<span ng-if="(nodes[i].type == 'testing')" class="glyphicon glyphicon-search" style="color:White"></span>
						<span ng-if="(nodes[i].type == 'deployed')" class="glyphicon glyphicon-home" style="color:White"></span>
						<span ng-if="(nodes[i].type == 'mobile')" class="glyphicon glyphicon-road" style="color:White"></span>
					</span>
					<!-- Active nodes -->
					<span ng-if="nodes[i].isVisible && (nodes[i].status != 'maintenance') && nodes[i].canScheduleExperiments" class="btn btn-success btn-xs" style="width:3cm">
						<span class="badge">{{nodes[i].id}}</span>&nbsp;&nbsp;{{Capitalize(nodes[i].project)}}&nbsp;&nbsp;
						<span ng-if="(nodes[i].type == 'testing')" class="glyphicon glyphicon-search" style="color:White"></span>
						<span ng-if="(nodes[i].type == 'deployed')" class="glyphicon glyphicon-home" style="color:White"></span>
						<span ng-if="(nodes[i].type == 'mobile')" class="glyphicon glyphicon-road" style="color:White"></span>
					</span>
					<!-- Inactive nodes -->
					<span ng-if="nodes[i].isVisible && (nodes[i].status != 'maintenance') && !nodes[i].canScheduleExperiments" class="btn btn-danger btn-xs" style="width:3cm">
						<span class="badge">{{nodes[i].id}}</span>&nbsp;&nbsp;{{Capitalize(nodes[i].project)}}&nbsp;&nbsp;
						<span ng-if="(nodes[i].type == 'testing')" class="glyphicon glyphicon-search" style="color:White"></span>
						<span ng-if="(nodes[i].type == 'deployed')" class="glyphicon glyphicon-home" style="color:White"></span>
						<span ng-if="(nodes[i].type == 'mobile')" class="glyphicon glyphicon-road" style="color:White"></span>
						<!--<span ng-if="(nodes[i].type == 'storage')" class="glyphicon glyphicon-lock" style="color:White"></span>
						<span ng-if="(nodes[i].type == 'development')" class="glyphicon glyphicon-cog" style="color:White"></span>-->
					</span>
					<p ng-if="((i) % 10) == 9"></p>
				</span>
			</div>
		</div> <!-- panel-body -->

		<div class="panel-footer">
			<h4>Legend: </h4>
			<span class="btn btn-warning btn-xs" style="width:3cm">Maintenance</span>
			<span class="btn btn-success btn-xs" style="width:3cm">Can schedule</span>
			<span class="btn btn-danger btn-xs" style="width:3cm">Cannot schedule</span>
			<p></p>
			<span class="glyphicon glyphicon-search" style="color:Black">&nbsp;&nbsp;Testing node</span><br>
			<span class="glyphicon glyphicon-home" style="color:Black">&nbsp;&nbsp;Deployed node (static)</span><br>
			<span class="glyphicon glyphicon-road" style="color:Black">&nbsp;&nbsp;Deployed node (mobile)</span><br>
			<!--<span class="glyphicon glyphicon-lock" style="color:Black">&nbsp;&nbsp;Node in storage</span><br>
			<span class="glyphicon glyphicon-cog" style="color:Black">&nbsp;&nbsp;Development node (private)</span><br>-->
		</div> <!-- panel-footer -->

	</div> <!-- panel -->

	<!-- ****************************************************************** -->
	<!-- Node scheduling occupation -->

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>Node occupation</h3>
		</div> <!-- panel-heading -->

		<div class="panel-body">
			<canvas id="calendarCanvas" width="{{canvasWidth}}" height="{{canvasHeight}}" style="border:0px solid #ffffff;"></canvas>
		</div> <!-- panel-body -->
	</div>


</body>
