<!-- TODO:
    * (M) Hide completed experiments when checkbox is checked
    * (L) Use contextual classes in table depeding on item.status 
 --> 

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="monroe">

<head>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>Monroe Experimenters Portal</title>

    <!-- Include Bootstrap -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css" crossorigin="anonymous">
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- Monroe App -->

    <script>
        angular.module("monroe", []);
    </script>

    <script src="controllers/monroe.js"></script>

    <!-- Monroe Style -->

    <style>
        #monroeSty {
            padding-top:    25px;
            padding-botton: 25px;
            padding-right:  50px;
            padding-left:   50px;
        }
    </style>

</head>

<body ng-controller="statusExperimentCtrl" id="monroeSty">

    <!-- Navigation Tabs -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="pull-left" href="https://www.monroe-project.eu/">
                    <img src = "media/monroe_logo.png" height="50" hspace="20"></img>
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li  class="active"><a href="StatusExperiment.html" data-toggle="tooltip" title="Status of my experiments">Status</a></li>
                    <li><a href="NewExperiment.html" data-toggle="tooltip" title="Create a new experiment">New</a></li>
                    <li><a href="Resources.html"data-toggle="tooltip" title="Show information about Monroe resources">Resources</a></li>
                    <li><a href="Help.html" data-toggle="tooltip" title="Learn about the experimenters portal">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
               </ul>
            </div>
        </div>
    </nav>

    <!-- Status Tab -->

    <div class="panel panel-default">

    <div class="panel-heading">
    <h3>Experiments for user {{userName}} (ID = {{userID}})</h3>
    </div>

    <div class="panel-body">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Start</th>
                <th>Stop</th>
                <th>Type</th>
            </tr>
        </thead>

        <tbody ng-repeat="item in data.experiments" ng-click="viewExperiment();">

            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.start}}</td>
                <td>{{item.stop}}</td>
                <td>{{item.type}}</td>
            </tr>

        </tbody>
    </table>

    <div class="checkbox-inline">
        <label><input type="checkbox">Hide Completed</label>
    </div>

    <div class="text-center">
        <ul class="pagination pagination-lg">
            <li class="disabled"><span>&laquo;</span></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>

    </div>
    </div> <!-- Panel -->

    <!-- Experiment details -->

    <div class="panel panel-default">

    <div class="panel-heading">
    <h3>Experiments Details</h3>
    </div>

    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>Name:</strong> {{experimentSelected.name}}</li>
            <li class="list-group-item"><strong>Start:</strong> {{experimentSelected.start}}</li>
            <li class="list-group-item"><strong>Stop:</strong> {{experimentSelected.stop}}</li>
            <li class="list-group-item"><strong>Type:</strong> {{experimentSelected.type}}</li>
            <li class="list-group-item"><strong>Nodes</strong>

                <table class="table table-condensed">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                        <td class="col-md-1">Total: </td>
                        <td class="col-md-1"><span class="label label-default label-as-badge">XXX</span></td>
                        <td class="col-md-10"></td>
                        </tr>
                        <tr>
                        <td class="col-md-1">Finished: </td>
                        <td class="col-md-1"><span class="label label-success label-as-badge">XXX</span></td>
                        <td class="col-md-10"></td>
                        </tr>
                        <tr>
                        <td class="col-md-1">Interrupted: </td>
                        <td class="col-md-1"><span class="label label-warning label-as-badge">XXX</span></td>
                        <td class="col-md-10"></td>
                        </tr>
                        <tr>
                        <td class="col-md-1">Failed: </td>
                        <td class="col-md-1"><span class="label label-danger label-as-badge">XXX</span></td>
                        <td class="col-md-10"></td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>

</body>
